
.Home{
    background-color: rgb(41, 41, 41);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
}
.Home p {
    color: rgb(118, 117, 117);
}
.saludo {
    position: relative;
    display: block;
    white-space: nowrap;
    width: 16ch;
    border-right: 4px solid white;
    animation: typing 2s steps(12), blink 0.5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from{
        width: 0;
    }
}
@keyframes blink {
    50%{
        border-color: transparent;
    }
}