.Tecnologias{
    border-top: 6vh solid black;
    border-bottom: 6vh solid black;
    background-color: #1e404f;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Tecnologias h1 {
    margin: 0;
}
.Container {
    border: 1px solid black;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    height: 25vh;
    background-image: url("../imagenes/anonimous.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 6px rgba(0, 0, 0, 0.5);
    overflow-x: auto;
}
.divDelLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 115px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease, height 0.3s ease, width 0.3s ease;
}
.Container div:hover {
    box-shadow: 0px 4px 10px 6px rgba(246, 246, 246, 0.871);
    transition: box-shadow 0.3s ease, height 0.3s ease, width 0.3s ease;
    cursor: pointer;
    background-color: rgba(237, 231, 231, 0.1);
    backdrop-filter: blur(5px);
}
.logoHtml {
    height: 100px;
    width: 100px;
}
.logosCss{
    height: 100px;
    width: auto;
}
.logoJS {
    height: 100px;
    width: auto;
    border-radius: 15px;
    transition: height 0.3s ease, width 0.3s ease;
}
.logoReact {
    height: 100px;
    width: auto;
    margin: 0 1.2vw 0 1.2vw;
}
.logoRedux{
    height: 100px;
    width: auto;
    border-radius: 10px;
}
.logoBootstrap {
    height: 100px;
    border-radius: 10px;
    margin: 0 1.2vw 0 1.2vw;
}
.logoD3 {
    height: 100px;
}
.logoSQL {
    height: 100px;
}
.lvlJS {
    background: linear-gradient(to top, green 70%, white 30%);
    height: 125px;
    width: 92px;
    border-radius: 15px;
    transition: height 0.3s ease, width 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.lvlHtml {
    background: linear-gradient(to top, green 80%, white 20%);
    height: 125px;
    width: 92px;
    border-radius: 15px;
    transition: height 0.3s ease, width 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.lvlCss {
    background: linear-gradient(to top, green 80%, white 20%);
    height: 125px;
    width: 92px;
    border-radius: 15px;
    transition: height 0.3s ease, width 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.lvlReact {
    background: linear-gradient(to top, green 60%, white 40%);
    height: 125px;
    width: 92px;
    border-radius: 15px;
    transition: height 0.3s ease, width 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.lvlRedux {
    background: linear-gradient(to top, green 40%, white 40%);
    height: 125px;
    width: 92px;
    border-radius: 15px;
    transition: height 0.3s ease, width 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}
.lvlBootstrap {
    background: linear-gradient(to top, green 40%, white 40%);
    height: 125px;
    width: 92px;
    border-radius: 15px;
    transition: height 0.3s ease, width 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}
.lvlD3 {
    background: linear-gradient(to top, green 40%, white 40%);
    height: 125px;
    width: 92px;
    border-radius: 15px;
    transition: height 0.3s ease, width 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}
.lvlSQL {
    background: linear-gradient(to top, green 40%, white 40%);
    height: 125px;
    width: 92px;
    border-radius: 15px;
    transition: height 0.3s ease, width 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}
@media (max-width: 700px){
    .Tecnologias {
        height: 80vh;
    }
    .divDelLogo {
        margin: 0 20px;
        width: 120px;
    }
    .Container{
        height: 60vh;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-row: repeat(3, 1fr);
        align-items: center;
        justify-content: flex-start;
    }
    .logoHtml {
        height: 10vh;
        width: auto;
    }
    .logosCss{
        height: 10vh;
    }
    .logoJS {
        height: 10vh;
        width: auto;
        border-radius: 15px;
    }
    .logoReact {
        height: 10vh;
        width: auto;
        margin: 0 1.2vw 0 1.2vw;
    }
    .logoRedux{
        height: 10vh;
        width: auto;
    }
    .logoBootstrap {
        height: 10vh;
        margin: 0 1.2vw 0 1.2vw;
    }
    .logoD3 {
        height: 10vh;
    }
    .logoSQL {
        height: 10vh;
    }
    .lvlHtml, .lvlCss, .lvlJS, .lvlReact, .lvlRedux, .lvlD3, .lvlBootstrap, .lvlSQL {
        margin: 0 30px 0 30px
    }
}
@media (max-width: 400px){
    .divDelLogo {
        margin: 0 20px;
        width: 120px;
    }
    .Container{
        height: 60vh;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-row: repeat(3, 1fr);
        align-items: center;
        justify-content: flex-start;
    }
    .logoHtml {
        height: 14vh;
    }
    .logosCss{
        height: 14vh;
    }
    .logoJS {
        height: 13vh;
        width: auto;
        border-radius: 15px;
    }
    .logoReact {
        height: 14vh;
        width: auto;
        margin: 0 1.2vw 0 1.2vw;
    }
    .logoRedux{
        height: 14vh;
        width: auto;
    }
    .logoBootstrap {
        height: 14vh;
        margin: 0 1.2vw 0 1.2vw;
    }
    .logoD3 {
        height: 14vh;
    }
    .logoSQL {
        height: 14vh;
    }
    .lvlHtml, .lvlCss, .lvlJS, .lvlReact, .lvlRedux, .lvlD3, .lvlBootstrap, .lvlSQL {
        margin: 0 30px 0 30px;
    }
}
@media (min-height: 1023px){
    .Tecnologias {
        height: 80vh;
        font-size: 2em;
    }
    .divDelLogo {
        margin: 0 5vw;
        width: 35vw;
        height: 18vh;
    }
    .Container{
        height: 60vh;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-row: repeat(3, 1fr);
        align-items: center;
        justify-content: flex-start;
    }
    .logoHtml {
        height: 14vh;
        width: auto;
    }
    .logosCss{
        height: 14vh;
    }
    .logoJS {
        height: 13vh;
        width: auto;
        border-radius: 15px;
    }
    .logoReact {
        height: 14vh;
        width: auto;
        margin: 0 1.2vw 0 1.2vw;
    }
    .logoRedux{
        height: 14vh;
        width: auto;
    }
    .logoBootstrap {
        height: 14vh;
        margin: 0 1.2vw 0 1.2vw;
    }
    .logoD3 {
        height: 14vh;
    }
    .logoSQL {
        height: 14vh;
    }
    .lvlHtml, .lvlCss, .lvlJS, .lvlReact, .lvlRedux, .lvlD3, .lvlBootstrap, .lvlSQL {
        margin: 0 2vw 0 10vw;
        height: 14vh;
        width: 22vw;
        border-radius: 30px;
    }
}